* {
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}

* { box-sizing: border-box }


@font-face{
    font-family: KBold;
    src: url(Karla-Bold.ttf);
    font-weight: 600;
}


@font-face{
    font-family: KReg;
    src: url(Karla-Regular.ttf);
    font-weight: 600;
}


@font-face{
    font-family: KLight;
    src: url(Karla-Light.ttf);
    font-weight: 600;
}

.body {
      background: var(--color-primary);
        color: #303030;
        font-size: 25px;
   }

.theme-light {
    /* main background colors */
   --color-primary: linear-gradient(
         180deg,
         #FEF7F0 0%,
         #DEDCF7 65%,
         #F7E8EB 85%
      );
    /* second background color? */
   --color-secondary: #f5f5f5;
    /* accent color for fonts or anything */
   --color-accent: #7F7F7F;
    /* main font color */
   --font-color: #212121;
    /* second color for sub headers, sub info */
   --font-color-secondary: #7F7F7F;
     /* third color for links, accents */
    --font-color-accent: #212121;
}
.theme-dark {
   --color-primary: #212121;
   --color-secondary: #232323;
   --color-accent: #7F7F7F;
   --font-color: #fafafa;
    --font-color-secondary: #A2A2A2;
    --font-color-accent: #fafafa;
}


/* NAVIGATION BAR */
.topnav {
  background: transparent;
  overflow: hidden;
  padding-top: 15px;
  padding-bottom: 16px;
  width: 100%;
    z-index: 1;
    padding-right: 50px;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: right;
  color: var(--font-color-secondary);
  text-align: center;
  padding: 14px 30px;
  font-size: 15px;
  font-family: "KReg"
}

/* Color of links in general */
.topnav a:link{
  color: var(--font-color-secondary);
  text-decoration: none;
}

/* Change the color of links on hover */
.topnav a:hover{
  color: var(--font-color-accent)!important; /* the important part keeps the hover color always the color i want when i hover, even if i already visited the link before */
  text-decoration: underline;
 
}

/* Change the color for the active/current link */
.topnav a:active{
  color: var(--font-color-accent);
  text-decoration: none;
}

/* Change the color for the link you've visited already */
.topnav a:visited{
    color: var(--font-color-secondary);
    text-decoration: none;
}


/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
    
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #3D3D3D;
  -webkit-transition: 0.4s;
  transition: 0.4s;
    
}

.slider:before {
  position: absolute;
  content: "";
  height: 25px;
  width: 25px;
  left: 5px;
  bottom: 4px;
  top: 0;
  bottom: 0;
  margin: auto 0;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  /* can do picture link, then color for circle portion to have both color and image */
  background: #212121;
  background-repeat: no-repeat;
  background-position: center;
}

input:checked + .slider {
  background-color: #EFD4C2;
    box-shadow: 0 0px 0px #2020203d;
    
}

input:focus + .slider {
   box-shadow: 0 0px 0px #2020203d;
}

input:checked + .slider:before {
  -webkit-transform: translateX(24px);
  -ms-transform: translateX(24px);
  /* below is how many pixels the light circle moves to the right */
  transform: translateX(24px);
  /* can do picture link, then color for circle portion to have both color and image */
  background: #FAF5F1;
  background-repeat: no-repeat;
  background-position: center;
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
    
}

.slider.round:before {
  border-radius: 50%;
 
}




/* box sizing */
* {
  box-sizing: border-box;
}


/* Responsivity */
@media screen and (max-width: 500px) {
  .column, {
    width: 100%;
  }
}

/* header */
.header{
    padding-left: 100px;
    padding-right: 200px;
    height: 100vh;
    margin:auto;
}


}
/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column1 {
    width: 100%;
  }
}

@media screen and (max-width: 600px) {
  .column2 {
    width: 100%;
  }
}





/* the hello title */
h1{
    font-family: "KBold";
        font-size: 70px;
        color: var(--font-color);
        padding-bottom: 40px;
        padding-top: 40px;
        line-height: 84px;          
}

/* typewriter animation for title */
.typewriter h1 {
  display: flex;
  overflow: hidden;
  border-right: 5px solid #232320; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .001em; /* Adjust as needed */
  animation: 
      typing 3s steps(40, end),
      blink-caret .75s step-end infinite;
}

.typewriter h1 {
  display: inline-flex;
}


/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 36% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: var(--font-color); }
}



/* subheader aka who i am */
h2{
    font-family: KReg;
    font-weight: 548;
    font-size: 29px;
    color: var(--font-color);
    line-height: 40px;
}

/* subheader aka who i am */
h3{
    font-family: KReg;
    font-weight: 548;
    font-size: 23px;
    color: var(--font-color-secondary);
    padding-top: 22px;
}


/* whole header */
.headertext{
  margin: 0;
  padding-top: 100px;
  height: 100vh;
    padding-left: 50px;
}
}




/* Color of links in body */
.body a:link{
  color: var(--font-color-secondary);
  text-decoration: underline;
 text-decoration: underline solid 0.2px;

}

/* Change the color of links on hover */
.body a:hover{
  color: var(--font-color)!important; /* the important part keeps the hover color always the color i want when i hover, even if i already visited the link before */
  text-decoration: underline solid 1px;
 
}

/* Change the color for the active/current link */
.body a:active{
  color: var(--font-color);
  text-decoration: none;
}

/* Change the color for the link you've visited already */
.body a:visited{
    color: var(--font-color-secondary);
    text-decoration: underline solid 1px;
}










/* Color of links in body */
.header a:link{
  color: var(--font-color-secondary);
  text-decoration: underline;
 text-decoration: underline solid 0.2px;

}

/* Change the color of links on hover */
.header a:hover{
  color: var(--font-color)!important; /* the important part keeps the hover color always the color i want when i hover, even if i already visited the link before */
  text-decoration: underline solid 1px;
 
}

/* Change the color for the active/current link */
.header a:active{
  color: var(--font-color);
  text-decoration: none;
}

/* Change the color for the link you've visited already */
.header a:visited{
    color: var(--font-color-secondary);
    text-decoration: underline solid 1px;
}










/* WORK PORTION OF PAGE */
.work{
    padding-left: 80px;
    padding-top: 80px;
    padding-bottom: 60px;
    padding-right: 80px;
    
}


/* selected work subtitle */
h4{
    font-family: KReg;
    font-weight: 548;
    font-size:20px;
    color: var(--font-color-secondary);
    padding-top: 200px;
    padding-left:59px;
}

/* selected work title */
h5{
    font-family: KBold;
    font-weight: 100;
    font-size:23px;
    color: var(--font-color);
    padding-top: 5px;
    padding-left:59px;
    padding-bottom: 30px;
}


/* INDIVIDUAL PROJECT FLEX BOX PICS */
.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 1px;
}

/* Create four equal columns that sits next to each other */
.column {
  flex: 25%;
  max-width: 100%;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.05), 0 6px 20px 0 rgba(0,0,0,0.05);
  border-radius: 5px;
}



/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
  .column {
    flex: 50%;
    max-width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }
}

.zoom {
  transition: transform .2s; /* Animation */
  margin: 0 auto;
    padding-bottom: 60px;
    padding-left: 60px;
    padding-right: 60px;
    
}

.zoom:hover {
  transform: scale(1.02); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
    
}





.footer{
    padding-bottom: 200px;
    padding-top: 150px;
    padding-left: 150px;
    padding-right: 150px;
    text-align: center;
}


/* FOOTER TEXT PROPERTIES*/
h7{
    font-family: KBold;
    font-weight: bold;
    color: var(--font-color);
    font-size: 30px;
    line-height: 60px;
}

.footerstuff{
    font-family: KReg;
    color: var(--font-color);
    font-size: 20px;
    padding-bottom: 20px;
    line-height: 28px;
}

h8{
    font-family: KReg;
   color: var(--font-color-secondary);
    font-size: 17px;
    
}

/* FOOTER LINKS */
/* Color of links in general */
.footer a:link{
  color: var(--font-color-secondary);
    text-decoration: underline;
}

/* Change the color of links on hover */
.footer a:hover{
  color:  #303030!important; /* the important part keeps the hover color always the color i want when i hover, even if i already visited the link before */
  text-decoration: underline;
}

/* Change the color for the active/current link */
.footera:active{
  color: #303030;
}

/* Change the color for the link you've visited already */
.footer a:visited{
    color: var(--font-color-secondary);
    text-decoration: underline;
}




/* RESPONSIVITY*/
@media only screen and (max-width: 600px) {
  .topnav, .work, .footer
}

@media only screen and (min-width: 600px) {
  .topnav, .work, .footer
}

@media only screen and (min-width: 768px) {
  .topnav, .work, .footer
} 

@media only screen and (min-width: 992px) {
  .topnav, .work, .footer
} 

@media only screen and (min-width: 1200px) {
  .topnav, .work, .footer
}
