*{
    padding:0;
    margin:0;
}





@font-face{
    font-family: KBold;
    src: url(Karla-Bold.ttf);
    font-weight: 600;
}


@font-face{
    font-family: KReg;
    src: url(Karla-Regular.ttf);
    font-weight: 600;
}


@font-face{
    font-family: KLight;
    src: url(Karla-Light.ttf);
    font-weight: 600;
}

.theme-light {
    /* main background colors */
   --color-primary: linear-gradient(
         180deg,
         #FEF7F0 0%,
         #DEDCF7 65%,
         #F7E8EB 85%
      );
    /* second background color? */
   --color-secondary: #f5f5f5;
    /* accent color for fonts or anything */
   --color-accent: #7F7F7F;
    /* main font color */
   --font-color: #212121;
    /* second color for sub headers, sub info */
   --font-color-secondary: #7F7F7F;
     /* third color for links, accents */
    --font-color-accent: #212121;
}
.theme-dark {
   --color-primary: #212121;
   --color-secondary: #232323;
   --color-accent: #7F7F7F;
   --font-color: #fafafa;
    --font-color-secondary: #A2A2A2;
    --font-color-accent: #fafafa;
}


.body {
      background: var(--color-primary);
        color: #303030;
        font-size: 25px;
   }

/* NAVIGATION BAR */
.topnav {
  background: transparent;
  overflow: hidden;
  padding-top: 15px;
  padding-bottom: 16px;
  width: 100%;
    z-index: 1;
    padding-right: 50px;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: right;
  color: var(--font-color-secondary);
  text-align: center;
  padding: 14px 30px;
  font-size: 15px;
  font-family: "KReg"
}

/* Color of links in general */
.topnav a:link{
  color: var(--font-color-secondary);
  text-decoration: none;
}

/* Change the color of links on hover */
.topnav a:hover{
  color: var(--font-color-accent)!important; /* the important part keeps the hover color always the color i want when i hover, even if i already visited the link before */
  text-decoration: underline;
 
}

/* Change the color for the active/current link */
.topnav a:active{
  color: var(--font-color-accent);
  text-decoration: none;
}

/* Change the color for the link you've visited already */
.topnav a:visited{
    color: var(--font-color-secondary);
    text-decoration: none;
}


/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
    
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #3D3D3D;
  -webkit-transition: 0.4s;
  transition: 0.4s;
    
}

.slider:before {
  position: absolute;
  content: "";
  height: 25px;
  width: 25px;
  left: 5px;
  bottom: 4px;
  top: 0;
  bottom: 0;
  margin: auto 0;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  /* can do picture link, then color for circle portion to have both color and image */
  background: #212121;
  background-repeat: no-repeat;
  background-position: center;
}

input:checked + .slider {
  background-color: #EFD4C2;
    box-shadow: 0 0px 0px #2020203d;
    
}

input:focus + .slider {
   box-shadow: 0 0px 0px #2020203d;
}

input:checked + .slider:before {
  -webkit-transform: translateX(24px);
  -ms-transform: translateX(24px);
  /* below is how many pixels the light circle moves to the right */
  transform: translateX(24px);
  /* can do picture link, then color for circle portion to have both color and image */
  background: #FAF5F1;
  background-repeat: no-repeat;
  background-position: center;
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
    
}

.slider.round:before {
  border-radius: 50%;
 
}


/* HEADER */
.header{
    padding-top: 100px;
    margin-top: auto;
    margin-left: auto;
    margin-right: auto;
    display: inline-block;
    width: 100%;  
}

/* about me title */
h1{
    font-family: "KBold";
    font-size: 17px;
    letter-spacing: 2px;
    color: var(--font-color-secondary);
    padding-bottom: 20px;
     padding-top: 20px;
}

/* hi im andrea title */
h2{
    font-family: KBold;
    font-style: bold;
    font-size: 30px;
    padding-bottom: 20px;
    color: var(--font-color);
}

/* all description text */
p{
    font-family: KReg;
    font-size: 16px;
    line-height: 25px;
    color: var(--font-color);
}

/* line breaks */
br{
    display: block; /* makes it have a width */
    content: ""; /* clears default height */
    margin-top: 20px; /* change this to whatever height you want it */
}

/* picture of me */
.me2021{
    width: auto;
    border-radius: 10px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.05), 0 6px 20px 0 rgba(0,0,0,0.05);
}
/* i also enjoy title */
h3{
    font-family: "KBold";
    font-size: 17px;
    letter-spacing: 2px;
    color: var(--font-color-secondary);
    padding-bottom: 20px;
    padding-top: 50px;
}

/* box sizing */
* {
  box-sizing: border-box;
}


/* Responsivity */
@media screen and (max-width: 500px) {
  .column, {
    width: 100%;
  }
}

/* both of the columns together */
.row{
    padding-bottom: 80px;
}
/* CREATES THE 2 COLUMN TEXTS */
/* Create two equal columns that floats next to each other */
.column1 {
  float: left;
  width: 50%;
  padding: 40px;
    padding-left: 150px;
}

.column2 {
  float: left;
  width: 50%;
  padding: 40px;
    padding-right: 150px;
    padding-left: 70px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}




.footer{
    padding-bottom: 200px;
    padding-top: 150px;
    padding-left: 150px;
    padding-right: 150px;
    text-align: center;
}


/* FOOTER TEXT PROPERTIES*/
h7{
    font-family: KBold;
    font-weight: bold;
    color: var(--font-color);
    font-size: 30px;
    line-height: 60px;
}

.footerstuff{
    font-family: KReg;
    color: var(--font-color);
    font-size: 20px;
    padding-bottom: 20px;
    line-height: 28px;
}

h8{
    font-family: KReg;
   color: var(--font-color-secondary);
    font-size: 17px;
    
}

/* FOOTER LINKS */
/* Color of links in general */
.footer a:link{
  color: var(--font-color-secondary);
}

/* Change the color of links on hover */
.footer a:hover{
  color:  #ed5c7b!important; /* the important part keeps the hover color always the color i want when i hover, even if i already visited the link before */
  text-decoration: none;
}

/* Change the color for the active/current link */
.footera:active{
  color: #ed5c7b;
}

/* Change the color for the link you've visited already */
.footer a:visited{
    color: var(--font-color-secondary);
    text-decoration: none;
}





@media only screen and (max-width: 600px) {
  .topnav, .header, .footer
}

@media only screen and (min-width: 600px) {
  .topnav, .header, .footer
}

@media only screen and (min-width: 768px) {
  .topnav, .header, .footer
} 

@media only screen and (min-width: 992px) {
  .topnav, .header, .footer
} 

@media only screen and (min-width: 1200px) {
  .topnav, .header, .footer
}
